@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
	}
body{
	font-family:"Microsoft Yahei"，Arial;
	
	}
li{
	list-style: none;
}
// footer
.he{
	width:100%;
	min-width: 1000px;
	border-bottom: 1px solid #f2f2f2;
}
.he:after{
	content: "";
	clear: both;
	height: 0;
	overflow: hidden;
	display: block;
	visibility: hidden;
}
.header{
	width:1000px;
	margin:0 auto;
	overflow: hidden;
}
.header p{
	color:#606060;
	font-size:18px;
	float: left;
	line-height: 108px;
	text-indent: 80px;
}
.header img{
	float: left;
}
.header a{
	color:#005aaa;
	font-size: 12px;
	float: left;
	margin-top:79px; 	
	margin-left: 447px;
}
.header a:hover{
	text-decoration: underline;
}
// shen
.se{
	width:100%;
	height:560px;
}
.shen{
	width:1000px;
	height:100%;
	margin: 0 auto;
	position: relative;
}
.shen-right{
	width:222px;
	height:397px;
	background: #f6f6f6;
	position: absolute;
	right:0;
	top:66px;
	padding:15px;
}
.shen-right h3{
	color:#797979;
	font-size: 14px;
	font-weight: 100;
	margin-top: 14px;
	line-height: 20px;
}
.shen-right p{
	color:#b8b8b8;
	font-size:12px;
	line-height: 23px;
}
.shen-right h4{
	color:#797979;
	font-size: 14px;
	font-weight: 100;
	margin-top: 14px;
	line-height: 20px;
}
.shen-right ul li{
	color:#b8b8b8;
	font-size: 12px;
	line-height: 23px;
}
.shen-right a{
	color:#005aaa;
	font-size: 14px;
	margin-left: 100px;
}
.shen-right a:hover{
	text-decoration: underline;
}
.shen-left{
	height:450px;
	width:550px;
	background: rgba(121,121,121,0.1);
	position: absolute;
	top:55px;
	left:50px;
}
.shen-left p{
	color:#606060;
	font-size: 16px;
	float: left;
	text-indent: 6px;
	line-height: 38px;
}
.shen-left input{
	float: left;
	width:227px;
	height:38px;
	border:1px solid #e6e6e6;
	border-radius: 5px;
	text-indent: 10px;
	}
.yanzheng {
	width:100%;
	height:40px;
	padding-top: 30px;
	padding-left: 30px; 
}
.yanzheng:nth-child(1) p{
	text-indent: 39px;
}
.yanzheng:nth-child(4) p{
	text-indent: 21px;
}
.yanzheng:nth-child(5) p{
	text-indent: 21px;
}
.yanzheng span{
	display: block;
	width:200px;
	height:38px;
	float: left;
	margin-top: -20px;
	color:black;
	font-size: 12px;
	line-height: 38px;
	text-indent: 10px;
}
.yanzheng a{
	width:90px;
	height:38px;
	background:#25bdff;
	color:white;
	display: block;
	float: left;
	font-size: 12px;
	line-height: 38px;
	text-align: center;
	margin-top: -20px;
	border-radius: 3px 5px 5px 3px;
	margin-left:-90px;
	}
	.fuxuan{
		margin-left: 50px;
		margin-top: 10px;
	}
 i{
	color:#606060;
	font-size: 12px;
	display: block;
	margin-top: 6px;
	}
i a{
	color:#005aaa;
}
#btn01{
	background: #005aa9;
	color:white;
	margin-left: 115px;
	margin-top: 10px;
	cursor: pointer;
	outline: none;
}
// footer
.fo{
	width:100%;
	height:182px;
	padding-bottom: 15px;
	margin-top: 60px;
}
.footer{
	width:1190px;
	margin:0 auto;
}
.footer-tou{
	margin-bottom: 10px;
	text-align: center;
}
.footer-tou a{
	color:#666;
	font-size: 12px;
}
.footer-tou a:hover{
	color:#2979ff;
}
.footer-tou span{
	color:#c7c7c7;
	font-size: 12px;
	margin:0 6px;
}
.footer p{
	margin:6px 0;
	text-align: center;
	color:#999;
	font-size: 12px;
}